
:root {
    font-family: monospace;
    line-height: 1.5;
    background-color: var(--bg1);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    scrollbar-width: none;
    color: var(--text1);

--main0: hsl(239, 89.47368421052632%, 5%);
--main1: hsl(239, 88.63636363636364%, 12%);
--main2: hsl(239, 87.5%, 20%);
--main3: hsl(239, 85.71428571428571%, 30%);
--main4: hsl(239, 83.33333333333333%, 40%);
--main5: hsl(239, 80%, 50%);
--main6: hsl(239, 75%, 60%);
--main7: hsl(239, 66.66666666666666%, 70%);
--main8: hsl(239, 50%, 80%);
--main9: hsl(239, 16.66666666666667%, 88%);
--secondary0: hsl(185, 89.47368421052632%, 5%);
--secondary1: hsl(185, 88.63636363636364%, 12%);
--secondary2: hsl(185, 87.5%, 20%);
--secondary3: hsl(185, 85.71428571428571%, 30%);
--secondary4: hsl(185, 83.33333333333333%, 40%);
--secondary5: hsl(185, 80%, 50%);
--secondary6: hsl(185, 75%, 60%);
--secondary7: hsl(185, 66.66666666666666%, 70%);
--secondary8: hsl(185, 50%, 80%);
--secondary9: hsl(185, 16.66666666666667%, 88%);
--warn0: hsl(40, 89.47368421052632%, 5%);
--warn1: hsl(40, 88.63636363636364%, 12%);
--warn2: hsl(40, 87.5%, 20%);
--warn3: hsl(40, 85.71428571428571%, 30%);
--warn4: hsl(40, 83.33333333333333%, 40%);
--warn5: hsl(40, 80%, 50%);
--warn6: hsl(40, 75%, 60%);
--warn7: hsl(40, 66.66666666666666%, 70%);
--warn8: hsl(40, 50%, 80%);
--warn9: hsl(40, 16.66666666666667%, 88%);
--fail0: hsl(357, 89.47368421052632%, 5%);
--fail1: hsl(357, 88.63636363636364%, 12%);
--fail2: hsl(357, 87.5%, 20%);
--fail3: hsl(357, 85.71428571428571%, 30%);
--fail4: hsl(357, 83.33333333333333%, 40%);
--fail5: hsl(357, 80%, 50%);
--fail6: hsl(357, 75%, 60%);
--fail7: hsl(357, 66.66666666666666%, 70%);
--fail8: hsl(357, 50%, 80%);
--fail9: hsl(357, 16.66666666666667%, 88%);
--bg0: hsl(239, 17%, 0%);
--bg1: hsl(239, 16.361702127659576%, 6%);
--bg2: hsl(239, 15.88888888888889%, 10%);
--bg3: hsl(239, 15.235294117647058%, 15%);
--bg4: hsl(239, 10.333333333333332%, 40%);
--bg5: hsl(239, 2%, 60%);
--bg6: hsl(239, -39.66666666666666%, 85%);
--bg7: hsl(239, -73.00000000000003%, 90%);
--bg8: hsl(239, -115.8571428571428%, 93%);
--bg9: hsl(239, -973.0000000000016%, 99%);
--text0: hsl(239, -973.0000000000016%, 99%);
--text1: hsl(239, -115.8571428571428%, 93%);
--text2: hsl(239, -73.00000000000003%, 90%);
--text3: hsl(239, -39.66666666666666%, 85%);
--text4: hsl(239, 2%, 60%);
--text5: hsl(239, 10.333333333333332%, 40%);
--text6: hsl(239, 15.235294117647058%, 15%);
--text7: hsl(239, 15.88888888888889%, 10%);
--text8: hsl(239, 16.361702127659576%, 6%);
--text9: hsl(239, 17%, 0%);



--border-radius: 5px;
--uiPadding: 20px;
}

button, input, p, h1 {
    color: var(--text1);
}

.invis {
    scale: 0;
    position: fixed;
}

input, textarea {
  touch-action: manipulation;
}

.svgWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    color: var(--text1);
}

.uiMain {
    width: 100%;
    height: 100%;

    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    place-items: center;
    padding: var(--uiPadding);

    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: 0px;
    -ms-overflow-style: none;
    box-sizing: border-box;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scrollOverflow {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: 0px;
    -ms-overflow-style: none;
    box-sizing: border-box;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

p {
    margin: 0px;
}

.bb1 {
    background-color: var(--bg1);
    border: 1px solid var(--bg2);
    border-radius: var(--border-radius);
}

.bb2 {
    background-color: var(--bg2);
    border: 1px solid var(--bg3);
    border-radius: var(--border-radius);
}

.bb3 {
    background-color: var(--bg3);
    border: 1px solid var(--bg4);
    border-radius: var(--border-radius);
}

.btn {
    padding: 10px;
    display: flex;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color .25s;
    font-size: 14px;
    align-items: center;
    gap: 7px;
}

.btn.bb1:hover {
    background-color: var(--bg2);
}
.btn.bb2:hover {
    background-color: var(--bg3);
}
.btn.bb3:hover {
    background-color: var(--bg4);
}

.bq {   
    border-left: 4px solid var(--bg4);
    color: var(--text1);
    white-space: pre-wrap;
    padding-left: 15px;
    font-style: italic;
}

.bdg {
    padding: 2px 5px 2px 5px;
    width: fit-content;
    border-radius: 100px;
}

@keyframes revealTT {
    from { opacity: 0.0; top: -50% }
    to { opacity: 1.0; top: -100%}
}

.tt {
    position: relative;
    cursor: pointer;
}

.tt:hover .toolTip, .tt:hover .arrow {
    animation: .3s revealTT .7s forwards;
}

.toolTip {
    position: absolute;
    min-width: fit-content;
    left: 50%;
    top: -100%;
    text-wrap: nowrap;
    transform: translate(-50%, -50%);
    padding: 2px 5px 2px 5px;
    pointer-events: none;
    opacity: 0.0;
    border-radius: var(--border-radius);
    height: 20px;
}

.arrow {
    height: 4px;
    width: 4px;
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    position: absolute;
    min-width: fit-content;
    left: 50%;
    top: -100%;
    text-wrap: nowrap;
    transform: translate(-50%, calc(-50% + 17px));
    padding: 2px 5px 2px 5px;
    pointer-events: none;
    opacity: 0.0;
}

@keyframes loading {
    from { rotate: 0deg }
    to { rotate: 360deg }
}
.loading {
    animation: 1.5s loading infinite;
}

@keyframes shake {
    0% { transform: translateX(0); }
    33% { transform: translateX(-5px); }
    66% { transform: translateX(5px); }
    100% { transform: translateX(0); }
}

.shake:hover {
    animation: .5s shake forwards;

}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    33% { transform: rotate(-5deg); }
    66% { transform: rotate(5deg); }
    100% { transform: rotate(0deg); }
}

.wiggle:hover {
    animation: wiggle .5s;
}

/* Generated CSS */
.main {
    background-color: var(--main3);
    border: 1px solid var(--main4);
}

.btn.main:hover {
    background-color: var(--main4);
}

.bdg.main {
    background-color: var(--main2);
    color: var(--main6);
    border: 1px solid var(--main5);
}.secondary {
    background-color: var(--secondary3);
    border: 1px solid var(--secondary4);
}

.btn.secondary:hover {
    background-color: var(--secondary4);
}

.bdg.secondary {
    background-color: var(--secondary2);
    color: var(--secondary6);
    border: 1px solid var(--secondary5);
}.warn {
    background-color: var(--warn3);
    border: 1px solid var(--warn4);
}

.btn.warn:hover {
    background-color: var(--warn4);
}

.bdg.warn {
    background-color: var(--warn2);
    color: var(--warn6);
    border: 1px solid var(--warn5);
}.fail {
    background-color: var(--fail3);
    border: 1px solid var(--fail4);
}

.btn.fail:hover {
    background-color: var(--fail4);
}

.bdg.fail {
    background-color: var(--fail2);
    color: var(--fail6);
    border: 1px solid var(--fail5);
}

























.moveButton {
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0px !important; 
}

.moveButton * {
  transition: color .25s;
}

.moveButton:hover * {
  color: var(--main6);
}



* {
    font-family: monospace;
}