
:root {
  font-family: monospace;
  line-height: 1.5;
  background-color: var(--bg1);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  scrollbar-width: none;
  color: var(--text1);

--main1: hsl(222, 72%, 55%);
--main2: hsl(222, 72%, 50.5%);
--main3: hsl(222, 72%, 46%);
--main4: hsl(222, 72%, 41.5%);
--main5: hsl(222, 72%, 37%);
--main6: hsl(222, 72%, 32.5%);

--bg1: hsl(222, 18%, 3%);
--bg2: hsl(222, 15%, 11%);
--bg3: hsl(222, 12%, 19%);
--bg4: hsl(222, 9%, 27%);

--bgt1: hsla(222, 38%, 3%, 50%);
--bgt2: hsla(222, 35%, 11%, 50%);
--bgt3: hsla(222, 32%, 19%, 50%);
--bgt4: hsla(222, 29%, 27%, 50%);

--text1: hsl(222, 25%, 90%);
--text2: hsl(222, 25%, 90%);
--text3: hsl(222, 25%, 90%);
--text4: hsl(222, 25%, 90%);

--fail1: hsl(0, 72%, 55%);
--fail2: hsl(0, 72%, 50.5%);
--fail3: hsl(0, 72%, 46%);
--fail4: hsl(0, 72%, 41.5%);
--fail5: hsl(0, 72%, 37%);
--fail6: hsl(0, 72%, 32.5%);

--border-radius: 3px;
--uiPadding: 4px;
}

* {
  font-family: monospace;
}

button, input, p, h1 {
  color: var(--text1);
}

.invis {
    scale: 0;
    position: fixed;
}

input, textarea {
  touch-action: manipulation;
}

.svgWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    color: var(--text1);
}

.uiMain {
    width: 100%;
    height: 100%;

    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    place-items: center;
    padding: var(--uiPadding);

    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: 0px;
    -ms-overflow-style: none;
    box-sizing: border-box;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scrollOverflow {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: 0px;
    -ms-overflow-style: none;
    box-sizing: border-box;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

p {
    margin: 0px;
}

.bb1 {
    background-color: var(--bg1);
    border: 1px solid var(--bg2);
    border-radius: var(--border-radius);
}

.bb2 {
    background-color: var(--bg2);
    border: 1px solid var(--bg3);
    border-radius: var(--border-radius);
}

.bb3 {
    background-color: var(--bg3);
    border: 1px solid var(--bg4);
    border-radius: var(--border-radius);
}

.btn1, .btn2, .btn3, .btnM, .btnF {
    padding: 10px;
    display: flex;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color .25s;
}
.btn1 {
    background-color: var(--bg1);
    border: 1px solid var(--bg2);
}
.btn1:hover {
    background-color: var(--bg2);
}
.btn2 {
    background-color: var(--bg2);
    border: 1px solid var(--bg3);
}
.btn2:hover {
    background-color: var(--bg3);
}
.btn3 {
    background-color: var(--bg3);
    border: 1px solid var(--bg4);
}
.btn3:hover {
    background-color: var(--bg4);
}
.btnM {
    background-color: var(--main3);
    border: 1px solid var(--main1);
}
.btnM:hover {
    background-color: var(--main1);
}
.btnF {
    background-color: var(--fail3);
    border: 1px solid var(--fail1);
}
.btnF:hover {
    background-color: var(--fail1);
}

.bq {
    border-left: 4px solid var(--bg4);
    color: var(--text1);
    white-space: pre-wrap;
    padding-left: 15px;
    font-style: italic;
}

@keyframes loading {
    from { rotate: 0deg }
    to { rotate: 360deg }
}
.loading {
    animation: 1.5s loading infinite;
}

@keyframes shake {
    0% { transform: translateX(0); }
    33% { transform: translateX(-5px); }
    66% { transform: translateX(5px); }
    100% { transform: translateX(0); }
}

.shake:hover {
    animation: .5s shake forwards;

}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    33% { transform: rotate(-5deg); }
    66% { transform: rotate(5deg); }
    100% { transform: rotate(0deg); }
}

.wiggle:hover {
    animation: wiggle .5s;
}

.moveButton {
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0px !important; 
}

.moveButton * {
  transition: color .25s;
}

.moveButton:hover * {
  color: var(--main1);
}